/*
*= require boilerplate
*= require buttons
*= require forms
*= require toggle_button
*= require food_list
*= require navbar
*= require recipes
*/
.missing {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
