.recipe {
  border: 4px solid blue;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.public_list {
  margin-left: 28rem;
  display: flex;
  margin-top: -3rem;
  gap: 2rem;
  flex-direction: column;
  margin-right: 2rem;
}
